.content-carousel{
    display: flex;
    justify-content: center;
}

.conteudo {
    width: 600px;
    border-radius: 30px;

}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: -1.5rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    border-radius: 30px;
    
    padding: 50px 50px;

}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    margin-left: 15px;
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 700px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card:nth-child(odd) {
    background-color: rgb(255, 0, 0);
}

.card:nth-child(even) {
    background-color: blue;
}   

.M1{
    background-image: url(../image/photo\ montage\ 2/D1.JPG);
    background-size: cover;
    background-position-x: -200px;

}

.M2{
    background-image: url(../image/photo\ montage\ 2/G2.jpeg);
    background-size: 205%;
    background-position-x: -200px;
}
.M3{
    background-image: url(../image/photo\ montage\ 2/G3.JPG);
    background-size: cover;
    background-position-x: -200px;

}
.M4{
    background-image: url(../image/photo\ montage\ 2/D3.jpeg);
    background-size: cover;
    background-position-x: -200px;

}
.M5{
    background-image: url(../image/photo\ montage\ 2/G1.JPG);
    background-size: 211%;
}
.M6{
    background-image: url(../image/photo\ montage\ 2/D2.jpeg);
    background-size: cover;
    background-position-x: -200px;

}